

.StatsDisplay_container{
  background-color: #f2f5fa;
  padding: 2px;
}

.StatsBar{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'acumin-pro';
}

.heading{
  text-align: left;
  /*font-weight: 1000;
  font-size: large;*/
}

.text{
  font-weight: 1000;
  font-size: large;
  text-align: left;
}

.currentPriceBox{
  width:30%;
}

.dailyChangeBox{
  width:30%;
}

.monthlyChangeBox{
  width:30%;
}
