

.StatsDisplay_container{
  background-color: #f2f5fa;
  padding: 2px;
  /*display: flex;*/
}

.StatsBar{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'acumin-pro';
}

.heading{
  text-align: left;
  /*font-weight: 1000;
  font-size: large;*/
}

.text{
  font-weight: 1000;
  font-size: large;
  text-align: left;
}

.currentPriceBox{
  width:30%;
}

.dailyChangeBox{
  width:30%;
}

.monthlyChangeBox{
  width:30%;
}

.LineChart_container{
  padding: 10px;
  border: 2px;
  display: flex;
}

.linechart_path {
  stroke-width: 3; /* Thick Line */
  fill: none;      /*No Fill*/
}
.linechart_axis {
  stroke: #bdc3c7; /*Grey Axis Color*/
}

.linechart_area{
  /*fill: #FFC859;*/
  fill: transparent;
}