.LineChart_container{
  padding: 10px;
  border: 2px;
  margin: 1%;
  display: flex;
  background-color: #ffffff;
}

.linechart_path{
  stroke-width: 3;/*thick line*/
  fill: none;
}

.linechart_axis{
  stroke: #bdc3c7;
}

.linechart_area{
  /*fill: #FFC859;*/
  /*fill: transparent;*/
  /*fill: "url(#grad1)";*/
}

.linechart_label{}

.linechart_point{
  fill: #ffffff;
}

.hoverLine{
  stroke: #7D95B6;
  stroke-width: 1;
}

.linechart_title{
  margin-left: 2%;
}

.linechart{
  padding: 2%;
}